.item {
    background-color: rgb(116, 105, 105);
    height: 100px;
}

.custom-nav {
    background-color: #2c3e50;
}

.white {
    color: white;
}

.padding {
    padding: 30px;
}

.padding-bottom {
    padding-bottom: 80px;
}

.margin-top {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

/* jumbo */
#jumbotron {
    background-color: #1abc9c;
}

#img-resize {
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
}
/* Potfolio */
h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

.immagini {
    margin-bottom: 10px;
    margin-right: 5px;
}

.resize {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.text-contain {
    background-color: #1abc9c;
}


.text {
    background-color: blue;
    height: 200px;
    margin-right: 20px;
}

#button {
    text-decoration: none;
    background-color: #1bbc9c;
    padding: 10px;
    color: white;
    border-radius: 5px;
}