.item {
    background-color: rgb(116, 105, 105);
    height: 100px;
}

.custom-nav {
    background-color: rgb(11, 11, 94);
}

.white {
    color: white;
}

/* jumbo */
#jumbotron {
    background-color: green;
}

#img-resize {
    width: 250px;
    height: 250px;
}
/* Potfolio */
h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

.immagini {
    margin-bottom: 10px;
    margin-right: 5px;
}

.resize {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.text-contain {
    background-color: green;
    height: 400px;
}


.text {
    background-color: blue;
    height: 200px;
    margin-right: 20px;
}
